<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			    http://www.springframework.org/schema/beans/spring-beans.xsd
			    http://www.springframework.org/schema/context
			    http://www.springframework.org/schema/context/spring-context.xsd
			    http://www.springframework.org/schema/aop
			    http://www.springframework.org/schema/aop/spring-aop.xsd
			    http://www.springframework.org/schema/tx
			    http://www.springframework.org/schema/tx/spring-tx.xsd
			    http://www.springframework.org/schema/mvc
			    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        <!--配置组件扫描-->
        <context:component-scan base-package="cn.itcast.controller"/>
        <!--配置annotationDriven，加载处理器映射器，加载处理器适配器，并把对象转换为json格式字符串-->
        <!--<mvc:annotation-driven conversion-service="conversionService" >-->
            <!--<mvc:message-converters>-->
                <!--<bean class="org.springframework.http.converter.StringHttpMessageConverter">-->
                    <!--<constructor-arg value="UTF-8"/>-->
                <!--</bean>-->
            <!--</mvc:message-converters>-->
        <!--</mvc:annotation-driven>-->

    <mvc:annotation-driven/>



        <!--内部资源视图器-->
        <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <property name="prefix" value="/jsp/"/>
            <property name="suffix" value=".jsp"/>
        </bean>

        <!--文件上传解析器-->
        <bean id="commonsMultipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
            <property name="defaultEncoding" value="UTF-8"/>
            <property name="maxUploadSize" value="500000"/>
            <property name="maxUploadSizePerFile" value="500000"/>
         </bean>

        <!--配置异常处理器-->
        <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
            <!--默认异常跳转视图-->
            <property name="defaultErrorView" value="error"></property>
            <!--特定的异常跳转界面-->
            <property name="exceptionMappings">
                <map>
                    <entry key="java.lang.NullPointerException" value="error1"/>
                    <entry key="java.lang.ClassCastException" value="error2"/>
                </map>
            </property>
        </bean>

        <!--静态资源访问之后，去找tomcat的default-servlet-handler-->
        <mvc:default-servlet-handler/>

        <!--自定义类型转换器-->
        <bean id="dateTimeConverter" class="org.springframework.context.support.ConversionServiceFactoryBean">
            <property name="converters">
                <list>
                    <bean class="cn.itcast.dateconverter.DateConverter"/>
                </list>
            </property>
        </bean>

</beans>